@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(135deg, #c3ceb7, #cfb56b, #fdc55d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
li > .active {
  background: none !important;
  color: goldenrod !important;
}

.UpDownAnimation {
  animation: UpDownAnimation 3s infinite;
}
@keyframes UpDownAnimation {
  0% {
    transform: translateY(-15%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(-15%);
  }
}
