@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(135deg, #c3ceb7, #cfb56b, #fdc55d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
li > .active {
  background: none !important;
  color: goldenrod !important;
}
